---
import { marked } from 'marked';
import siteConfig from '../data/site-config';
import Button from './Button.astro';


const hero = siteConfig.hero;
---

<!-- Just render it normally -->


{(hero?.image?.src || hero?.text || hero?.actions?.length > 0) && (
  <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
    {hero.image?.src && (
      <figure>
        <img ... />
        {hero.image.caption && <figcaption>…</figcaption>}
      </figure>
    )}
    {hero.text && (
      <div class="max-w-none prose sm:prose-lg text-subtitle" set:html={marked.parse(hero.text)} />
    )}

  </section>
)}